*{margin: 0;}

header  {
    background-color: rgb(0, 0, 0);
}

header h1 {
    text-align: center;
    color: silver;
    font-size: xx-large;
    font-style:normal;
}
header nav ul {list-style: none;}

header nav ul li {
    display: inline-block;
    padding: 10px;
   
}
header nav ul li a {
    text-decoration: none;
    color: silver;
}

img{
    width: 200px;
    margin:200px;
    float: right;
}

 #no1{
   
     color: rgb(238, 227, 227);
    text-align: justify;
    font-size: 20px;
    background-color: black;
 }
 #no0{

font-size: 40px;
 }
 #no2{
    text-align: justify;
    font-size: 20px;
 }